:root {
  --el-color-primary: #409eff;
  --el-color-primary-light-1: #66b1ff;
  --el-color-primary-light-2: #a0cfff;
  --el-color-primary-light-3: #c6e2ff;
  --el-color-primary-light-4: #d9ecff;
  --el-color-primary-light-5: #ecf5ff;
  --el-border-color-light: #e4e7ed;
  --el-bg-color-overlay: #ffffff;
  --el-fill-color-light: #f5f7fa;
  --el-text-color-primary: #303133;
}

.el-dialog,
.el-message,
.el-popover,
.el-message-box {
	max-width: 80%;
}

@media (max-width: 520px) {
	.el-popover .icon-body .icon-list > div {
		width: 50% !important;
	}
}

@media (max-width: 600px) {
	.el-form .el-form-item {
		.el-form-item__label {
			float: none;
			display: inline-block;
			text-align: left;
			padding: 0;
		}

		.el-form-item__content {
			margin-left: 0 !important;
		}
	}
}

.el-dialog {
	.el-dialog__header {
		border-bottom: 1px solid var(--el-border-color-light);
	}

	.el-dialog__footer {
		text-align: center;
		border-top: 1px solid var(--el-border-color-light);
	}
}

/***搜索+列表自定义样式start***/
.app-search-table {
	position: relative;
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.em-table-page {
		position: relative;
		overflow: hidden;
		height: 100%;
		display: flex;
		flex-direction: column;
		flex: 1;

		.table-container {
			flex: 1;
			overflow-x: hidden;
			overflow-y: auto;
			height: 100%;

			.el-table {
        background-color: transparent;
				height: 100%;
        color: var(--el-text-color-primary);
        tr,
        th.el-table__cell,
        td.el-table__cell{
          background-color: transparent;
          border-color: var(--el-border-color-light);
        }
				&::before {
					display: none;
				}

				.el-table__body-wrapper {
					height: calc(100% - 60px) !important;
					overflow-y: auto;
					box-sizing: border-box;
					/*修改滚动条样式*/
					&::-webkit-scrollbar {
						width: 10px;
						height: 10px;
					}

					&::-webkit-scrollbar-track {
						background-color: #f1f1f1;
						border-radius: 2px;
					}

					&::-webkit-scrollbar-thumb {
						background-color: #c1c1c1;
						border-radius: 10px;
					}

					&::-webkit-scrollbar-thumb:hover {
						background-color: #b1afaf;
					}

					&::-webkit-scrollbar-corner {
						background-color: #c1c1c1;
					}
				}
			}
		}

		.pagination-container {
			width: 100%;
			padding: 10px 20px;
			text-align: right;
			border-top: 1px solid var(--el-border-color-light);
			display: flex;
			justify-content: flex-end;
			box-sizing: border-box;
		}
	}
}

/***搜索+列表自定义样式end***/
